<h1><%= link_to 'Scamazon', controller: 'welcome' %></h1>

<h2>Basket</h2>

<% if BasketProduct.first.nil? == true %>
	<p><h3>There are no items<h3></p>
<% else %>
	<table>
		<td>Quantity</td>
		<td>Name</td>
		<td>Price</td>
		<td>Actions</td>
	
		<% @basket_products.each do |basket_product| %>
			<tr>
				<td><%= basket_product.quantity %></td>
				<td><%= link_to basket_product.product.name, product_path(basket_product.product) %></td>
				<td>£<%= basket_product.product.price %></td>
				<td><%= link_to 'Remove', basket_product_path(basket_product), method: :delete %></td>
			</tr>
		<% end %>
	</table>
<% end %>

<p>
	<%= link_to 'View products', controller: 'products' %> | 
	<%= link_to 'Empty Basket', basket_product_destroyall_path, method: :destroyall %>
</p>