<h1><%= link_to 'Scamazon', controller: 'welcome' %></h1>

<p>
	<h2><%= @product.name %></h2>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<%= button_to 'Add to basket', basket_products_path(:product_id => @product.id) %>
</p>

<%= link_to 'Back', products_path %>