<h1><%= link_to 'Scamazon', controller: 'welcome' %></h1>

<p>
	<h2><%= @product.name %></h2>
</p>

<p>
	<%= link_to 'View Products', :controller => :products, :action => :index %> | 
	<%= link_to 'View Basket', controller: 'basket_products' %>
</p>

<p>
	<strong>Price: </strong>
	£<%= @product.price %>
</p>

<% if BasketProduct.where(:product => @product).any? %>
	<p>
		<strong>Currently in basket: </strong>
		<%= BasketProduct.find_by(product: @product.id).quantity %>
		<td><%= link_to 'Increase', basket_product_add_path(BasketProduct.find_by(product: @product.id)), method: :post %></td>
		
		<% if BasketProduct.find_by(product: @product.id).quantity > 0 %>
			<td><%= link_to 'Decrease', basket_product_reduce_path(BasketProduct.find_by(product: @product.id)), method: :post %></td>
		<% else %>
			<td><%= link_to 'Decrease', basket_product_path(BasketProduct.find_by(product: @product.id)), method: :delete %></td>
		<% end %>
	</p>
<% end %>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<%= link_to 'Add to basket', basket_products_path(:product_id => @product.id), method: :post %> 
	<% if BasketProduct.where(:product => @product).any? %>
		 | <%= link_to 'Remove from basket', basket_product_path(BasketProduct.find_by(product: @product.id)), method: :delete %>
	<% end %>
</p>

<p>
	<%= link_to 'Edit Product', edit_product_path(@product) %>
</p>