<h1><%= link_to 'Scamazon', controller: 'welcome' %></h1>

<p>
	<h2><%= @product.name %></h2>
</p>

<p>
	<strong>Price: </strong>
	£<%= @product.price %>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<%= link_to 'Add to basket', basket_products_path(:product_id => @product.id), method: :post %> 
	<% if BasketProduct.where(:product => @product).any? %>
		 | <%= link_to 'Remove from basket', basket_product_path(BasketProduct.find_by(product: @product.id)), method: :delete %>
	<% end %>
</p>

<%= link_to 'Back', products_path %>