<h1><%= link_to 'Shamazon', controller: 'welcome' %></h1>

<p>
	<h2><%= @product.name %></h2>
</p>

<p>
	<strong>Description:</strong>
	<%= @product.description %>
</p>

<p>
	<%= link_to 'Add to basket', add_item(@product.id) %>
</p>

<%= link_to 'Back', products_path %>